/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fixed-image {
  height: 60px !important; /* Gán cứng và đảm bảo không bị ghi đè */
}

.story-image {
  height: 130px !important;
  width: 80px !important;
  object-fit: cover;
}
